@charset "utf-8";

@font-face {
    font-family: 'PPNeueMontreal-Medium';
    src: url('PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PPNeueMontreal-Medium', sans-serif;
}

.prel {
    position: fixed;
    z-index: 23542423;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    background: #EEE;
    pointer-events: none;
    transition: 0.6s;
}

.prel.animprelEnd {
    transform: translateY(100%);
}

.prel .main-sone-border {
    border-right: 1px solid rgba(27, 27, 27, 0.2) !important;
}

.prelCenter {
    position: absolute;
    left:0;
    top:0;
    width:100vw;
    height:100svh;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: 0s;
    opacity:0;
}

.prelCenter svg {
    position: relative;
    width: 336px;
    height: 189px;
}

.main-video-placeholder,
.production-video-placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Это свойство масштабирует изображение, чтобы оно заполнило контейнер, обрезая лишнее */
    position: absolute; /* Позволяет изображению занимать всю доступную область */
    top: 0;
    left: 0;
    will-change: transform, opacity;
    transform-origin: center center;
    opacity: 0;
    transform: scale(0.9);
}

.main-about-bottom .main-video-placeholder {
    opacity: 0;
    transform: scale(0.9);
}
.special-font-text {
    font-family: 'PPNeueMontreal-Medium', sans-serif;
}